body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 4px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  .button, button {
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    margin-left: 5px;
  }
  
  .button.create, button.create {
    background-color: #28a745;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .button.create:hover, button.create:hover {
    background-color: #218838;
  }
  
  .button.edit, button.edit {
    background-color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .button.edit:hover, button.edit:hover {
    background-color: #0056b3;
  }
  
  .button.delete, button.delete {
    background-color: #dc3545;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .button.delete:hover, button.delete:hover {
    background-color: #c82333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 98.4%;
  }
  
  textarea {
    resize: vertical;
  }
  
  .back-button {
    background-color: #6c757d;
    font-size: 18px;
  }
  
  .back-button:hover {
    background-color: #5a6268;
  }
  
  button:disabled,
  button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  